

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f8f8f8;
    color: #212112;
    margin: 0;
    padding: 0;
}



/* Add styling for the student details table */
.report {
    margin-top: 20px;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

th,
td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: #14a5a3;
    color: white;
}

td {
    background-color: #f8f8f8;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul li {
    margin-bottom: 8px;
}


